@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 32,42,68;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 32,42,68;
    --background-end-rgb: 26, 32, 48;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background-color: black;
    overflow-x: hidden;
}
/* 
canvas
{background: rgb(67,40,85);
  background: radial-gradient(circle, rgba(67,40,85,1) 0%, rgba(138,56,186,1) 74%);
} */